/* This file takes inspiration from 'Under the Sea' and 'Garments'. */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	background-image: url(ocean-backgroundjpg.jpg);
    	background-size: cover;
   	background-position: top;
   	background-attachment: fixed;
}
	}
p { 
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}
h3 { 
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}
a:link { 
	}
a:visited { 
	}
a:hover, a:focus, a:active { 
	}
abbr {
	}


/* specific divs */
.page-wrapper { 
	}

.intro { 
	}

header h1 { 
	}
header h2 { 
	}
header {
}

.summary {
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}
.summary p {
	}

.preamble {
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}
.supporting {	
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}

footer { 
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}
footer a:link, footer a:visited { 
	}

.sidebar {
	background-color: lightblue;
  	opacity: 0.9;
	padding: 30px;
	border-radius: 10px;
	margin: 20px;
	}
.sidebar .wrapper { 
	}
.sidebar h3.select { 
	}
.sidebar h3.archives { 
	}
.sidebar h3.resources { 
	}


.sidebar ul {
	}
.sidebar li {
	}
.sidebar li a:link {
	}
.sidebar li a:visited {
	}


.extra1 {
	}
